flask
flask-restful
flask-sqlalchemy
flask-jwt-extended
flask-migrate
flask-cors
flask-limiter
flasgger
flask-socketio
gunicorn
eventlet
redis
prometheus_client
mysqlclient
psycopg2-binary
geopandas
numpy
pillow
werkzeug
pandas
python-dotenv
shapetree
pyproj
shapely
fiona
pyogrio
rtree
gdal
pyzbar
PyWavelets
qrcode
pytest
pytest-cov
backports.zoneinfo; python_version < '3.9'
